[submodule "PushDemo"]
	path = PushDemo
	url = https://github.com/aerogear/aerogear-push-ios-demo.git
[submodule "HelloWorld"]
	path = HelloWorld
	url = https://github.com/aerogear/aerogear-push-helloworld.git
[submodule "push-quickstarts"]
	path = push-quickstarts
	url = https://github.com/aerogear/aerogear-push-quickstarts.git
