<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>serverURL</key>
	<string>URL of the running AeroGear UnifiedPush Server</string>
	<key>variantID</key>
	<string>Variant Id</string>
	<key>variantSecret</key>
	<string>Variant Secret</string>
</dict>
</plist>
