<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>description</key>
		<string>300g plain flour
200g unsalted butter
Knob of butter for greasing
450g apples, peeled, cored and cut into pieces
1. Preheat the oven to 180C
2. Place the flour and sugar in a large bowl and mix well. Taking a few cubes of butter at a time rub into the flour mixture. Keep rubbing until the mixture resembles breadcrumbs.</string>
		<key>id</key>
		<string>1</string>
		<key>title</key>
		<string>Crumble</string>
	</dict>
	<dict>
		<key>description</key>
		<string>300g plain flour
2 large aubergines
4 small courgettes
2 red or yellow peppers
4 large ripe tomatoes
5 tbsp olive oil
supermarket pack or small bunch basil
1 medium onion, peeled and thinly sliced
3 garlic cloves, peeled and crushed
1 tbsp red wine vinegar
1 tsp sugar (any kind)
1. Cut the aubergines in half lengthways. Place them on the board, cut side down, slice in half lengthways again and then across into 1.5cm chunks. Cut off the courgettes ends, then across into 1.5cm slices. Peel the peppers from stalk to bottom. Hold upright, cut around the stalk, then cut into 3 pieces. Cut away any membrane, then chop into bite-size chunks.
2. Score a small cross on the base of each tomato, then put them into a heatproof bowl. Pour boiling water over the tomatoes, leave for 20 secs, then remove. Pour the water away, replace the tomatoes and cover with cold water. Leave to cool, then peel the skin away. Quarter the tomatoes, scrape away the seeds with a spoon, then roughly chop the flesh.
3. Set a sauté pan over medium heat and when hot, pour in 2 tbsp olive oil. Brown the aubergines for 5 mins on each side until the pieces are soft. Set them aside and fry the courgettes in another tbsp oil for 5 mins, until golden on both sides. Repeat with the peppers. Don’t overcook the vegetables at this stage, as they have some more cooking left in the next step.
4. Tear up the basil leaves and set aside. Cook the onion in the pan for 5 mins. Add the garlic and fry for a further min. Stir in the vinegar and sugar, then tip in the tomatoes and half the basil. Return the vegetables to the pan with some salt and pepper and cook for 5 mins. Serve with basil.</string>
		<key>id</key>
		<string>2</string>
		<key>title</key>
		<string>Ratatouille</string>
	</dict>
	<dict>
		<key>description</key>
		<string>9 inch double crust pie
1/2 cup unsalted butter
3 tablespoons all-purpose flour
1/4 cup water
1/2 cup white sugar
1/2 cup packed brown sugar
8 Granny Smith apples - peeled, cored and sliced
1. Preheat oven to 425 degrees F (220 degrees C). Melt the butter in a saucepan. Stir in flour to form a paste. Add water, white sugar and brown sugar, and bring to a boil. Reduce temperature and let simmer.
2. Place the bottom crust in your pan. Fill with apples, mounded slightly. Cover with a lattice work crust. Gently pour the sugar and butter liquid over the crust. Pour slowly so that it does not run off.
3. Bake 15 minutes in the preheated oven. Reduce the temperature to 350 degrees F (175 degrees C). Continue baking for 35 to 45 minutes, until apples are soft.</string>
		<key>id</key>
		<string>3</string>
		<key>title</key>
		<string>Apple pie</string>
	</dict>	
	<dict>
		<key>description</key>
		<string>1 (15 ounce) container ricotta cheese
1 (10 ounce) package frozen chopped spinach, thawed and squeezed dry
1/2 cup minced onion
1 egg
2 teaspoons minced fresh parsley
1/2 teaspoon pepper
1. Preheat oven to 350 degrees F (175 degrees C).
In a large bowl, combine ricotta, spinach, onion and egg. Season with parsley, pepper and garlic powder. Mix in 1 cup mozzarella and 1/4 cup Parmesan. In a separate bowl, stir together spaghetti sauce and water.
2. Spread 1 cup sauce in the bottom of a 9x13 inch baking dish. Stuff uncooked manicotti shells with ricotta mixture, and arrange in a single layer in the dish. Cover with remaining sauce. Sprinkle with remaining mozzarella and Parmesan.
3. Bake in preheated oven for 45 to 55 minutes, or until noodles are soft.</string>
		<key>id</key>
		<string>4</string>
		<key>title</key>
		<string>Spinach Cheese Manicotti</string>
	</dict>	
	</array>
</plist>
